<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>

        Adição: {{ adicao }} <br />
        Subtração: {{ sub }} <br />
        Multiplicão: {{ mult }} <br />
        Divisão:{{ div }} <br />

        {# ... #}
    </body>
</html>